<!-- Navigation -->
   <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
       <div class="container">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                   Menu <i class="fa fa-bars"></i>
               </button>

               <a class="navbar-brand page-scroll" href="#page-top">
                   <i class="fa fa-play-circle"></i> <span class="light">Pe</span>HPe
               </a>
           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
               <ul class="nav navbar-nav">
                   <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                   <li class="hidden">
                       <a href="#page-top"></a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#about">O nama</a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#download">TryCodeCatch</a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#contact">Članovi</a>
                   </li>
               </ul>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container -->
   </nav>

   <!-- Intro Header -->
   <header class="intro grayscale">
       <div class="intro-body">
           <div class="container">
               <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                       <h1 class="brand-heading">Timski portfolio</h1>
                       <p class="intro-text">Web Aplikacija za predstavljanje
                         tima PeHPe u svrhu TryCodeCatch natjecanja!</p>
                       <a href="#about" class="btn btn-circle page-scroll">
                           <i class="fa fa-angle-double-down animated"></i>
                       </a>
                   </div>
               </div>
           </div>
       </div>
   </header>

   <!-- About Section -->
   <section id="about" class="container content-section text-center">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
               <h2>O nama</h2>
               <p> PeHPe je tim od 3 studenta treće godine preddiplomskog studija formiran na <a href="http://foi.hr">Fakultetu Organizacije i Informatike</a> gdje spomenuti studenti
                 pohađaju fakultet. Tim se okupio zbog želje i motivacije za radom na praktičnim vještinama koje će im biti potrebne nakon završetka studija.</p>
                 <p> Osim želje za novim praktičnim znanjima i iskustvu na natjecanju kao što je TryCodeCatch faktor koji je igrao ulogu u prijavi tima na natjecanje
                   jest motivacija da se pokrenu i da preuzmu kontrolu nad svojom karijerom, da se istaknu u očima poslodavca. I najvažnije od svega, dobra zabava i upoznavanje novog društva!</p>

           </div>
       </div>
   </section>

   <!-- Download Section -->
   <section id="download" class="content-section text-center">
       <div class="download-section">
           <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                   <h2>TryCodeCatch</h2>
                   <p>TryCodeCatch je natjecanje u izgradnji WebAplikacija koje
                   odražava poduzeće Combis drugu godinu zaredom (2017).
                 Ovo natjecanje je privuklo našu pozornost te smo se odlučili na njega prijaviti</p>
                   <a href="http://trycodecatch.com/" class="btn btn-default btn-lg">TryCodeCatch</a>
               </div>
           </div>
       </div>
   </section>

   <!-- Contact Section -->
   <section id="contact" class="container content-section text-center">
     <div class="row clanovi-tima">
          {{clan-tima}}
     </div>
       <div class="row">

           <div class="col-lg-8 col-lg-offset-2">
               <h2>Contact Start Bootstrap</h2>
               <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
               <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
               </p>
               <ul class="list-inline banner-social-buttons">
                   <li>
                       <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                   </li>
                   <li>
                       <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                   </li>
                   <li>
                       <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                   </li>
               </ul>
           </div>
       </div>
   </section>

   <!-- Map Section -->
   <div id="map"></div>

   <!-- Footer -->
   <footer>
       <div class="container text-center">
           <p>Copyright &copy; Your Website 2016</p>
       </div>
   </footer>
